.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--bored-color);

    i {
        color: var(--weather-text);
    }
}

.hour,
.temp,
.main,
.humidity,
.wind,
.up,
.down {
    display: flex;
    align-self: center;
    justify-content: center;
}

.main {
    width: 100%;
}

.hour {
    // margin: 30px;
    margin: 0 30px;
    width: 40px;
}

.temp {
    width: 40px;
}
.icon {
    display: flex;
    flex: 1;
    height: 70px;
    margin-left: 40px;
    img {
        margin-right: 20px;
    }
}

.context {
    display: flex;
    align-items: center;
}

.humidity {
    margin: 0 20px;
}

.humidity-parameter {
    margin: 0 10px;
}
.wind {
    margin: 0 20px;
}

.wind-parameter {
    margin: 0 10px;
    width: 120px;
}

.up {
    margin: 0 30px;
    padding: 20px;
    cursor: pointer;
}

.down {
    margin: 0 30px;
    padding: 20px;
    cursor: pointer;
}

.extra {
    border: 1px solid var(--bored-color);
    border-radius: 8px;
    margin-bottom: 0;
    opacity: 0;
    height: 0;
    transition: height 0.25s, opacity 0.25s, margin-bottom 0.25s;
    overflow: hidden;
}

.top,
.bottom {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    margin: 0 10px;
}
.top {
    border-bottom: 1px solid var(--bored-color);
}

.feellike-temp {
    margin: 0 20px;
    width: 140px;
    display: flex;
    align-items: center;
}

.content {
    margin-left: 10px;
}

.content-header {
    font-size: 12px;
}

.content-parameter {
    font-size: 14px;
    font-weight: 680;
    margin-top: 6px;
}
