{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                },
                "root": ["./src"]
            }
        ]
    ]
}
