.wrapper {
    // height: 100%;
    width: 100px;
    display: flex;
    text-align: center;
    // position: relative;

    i {
        color: white;
        cursor: pointer;
        font-size: 24px;
    }
}
